.gallery-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  @media (min-width: 600px) {
    flex-grow: 0;
    justify-content: space-between;
    > img:last-child {
      margin-right: 0;
    }
  }
}
